p
	font(style="font-size:30px; font-weight:bold;") Doom Loader
	br
	font(style="font-size:20px; font-weight:bold;") By CandiceJoy
button(onclick="changeContext(contexts.profiles)") Profiles
button(onclick="changeContext(contexts.computers)") Computers
button(onclick="changeContext(contexts.iwads)") IWads
button(onclick="changeContext(contexts.autoloadProfiles)") Autoload Profiles
button(onclick="changeContext(contexts.sourceports)") Source Ports
p(id="selectedComputer")