button(onclick="refresh();") Refresh
table
	//tr
		//th
		//th Source Port
		//th IWad
		//th WADs
		//th Autoload Profile
		//th
		//th Name
	each profile in profiles
		tr
			td
				button(onclick="doom('" + sanitise(profile.name) + "')") Run
			td
				button(onclick="editProfile('" + sanitise(JSON.stringify(profile)) + "')") Edit
			td
				button(onclick="deleteProfile('" + sanitise(JSON.stringify(profile)) + "')") Delete
			td= profile.name
			//td= profile.sourceport
			//td= profile.iwad
			//td= profile.wads
			//td= profile.autoloadProfile
button(onclick="addProfile()") Add Profile
